:root{
  --cp-dark-blue:#012742 ;
  --cp-section-blue: #55A4DE;
}
.ui-loader{
  visibility: hidden;
}
/*font Weights 300, 500 and 900, use the following classes for */
.light-font{
  font-family:'Roboto',sans-serif;
  font-weight: 300;
}
.medium-font{
  font-family:'Roboto',sans-serif;
  font-weight: 500;
}
.heavy-font{
  font-family:'Roboto',sans-serif;
  font-weight: 900;
}
/*Global CSS Classes*/
/*Font Adjustments for iPhone Sized screens*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
  .field-label{
  font-size:0.8em;
  }
    .subtotal-field, .subtotal-label{
    font-size: 1.2em !important;
  }


}

.section-header{
  background-color: #55A4DE;
  height:40px;
  margin: 10px 0px 10px;
  padding-top: 1px;
  color:#FFFFFF;
  font-size: 2em;
}
.form-control{
  cursor: pointer;
}
.noselect {
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.row{
  margin-bottom: 10px;
}

.field-label{
  display: inline-block;
  margin-top:5px;
}
/*CSS class for unit labels*/
.unit-label{
  font-size: 1em;
  margin-top:5px;
  padding: 0px 0px 0px 5px;
}
/*This removes the spinners on the number input fields*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*These CSS are for the title area*/
.header-container{
  margin-bottom: 10px
}
.main-title{
  background-color: #012742;
  color:white;
  font-size: 3.5em;
  height: 72px;
  text-align: center
}
.title-text{
  vertical-align: middle;
  padding-top: 0 px;
}
.header{
  height:130px;
}
.logo-container{
  height:inherit;
}
.cp-logo{
  background-image: url("../img/CPLogo.png");
  width:170px;
  height:130px;
  background-size: contain;
  margin:15px auto 0px ;
  background-repeat: no-repeat;
}

/*Business info related CSS*/
.business-row{
  height:38px;
}
.business-input{
  height:28px;
  width:100%;
}

/*Effects related CSS*/

.effects-row{
  height: 55px;
  margin-bottom: 0px;
}
.control-column,.effects-column{
  height:36px;
  padding-right: 0px !important;
}
.control-btn{
  background-color: #55A4DE;
  width:49%;
  height:100%;
  display: inline-block;
  color:white;
  text-align: center;  
  cursor:pointer;
  cursor:hand;
  padding-top: 7px
}
.effect-input{
  margin-top: 4px;
}

.add-value-btn{
  border-radius: 5px 0px 0px 5px;

}
.minus-value-btn{
  border-radius: 0px 5px 5px 0px;
  float: right;
  user-select:none;
}
.add-value-btn:active, .minus-value-btn:active{
  background-color: #012742;
}



.background-shading{
  background: linear-gradient(to right, white 0%, white);
  background: -webkit-linear-gradient(to right, white 0%, white);
  width:100%;
  height:100%;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
}

.subtotal{
  border-top:2px solid #012742; 
  margin-top: 15px !important;
  padding-top: 5px;
}

.subtotal-field{
  text-align: center;
  font-size: 1.5em;
}

.subtotal-label{
  text-align: right;
  font-size: 1.5em;
}

.input-column{
  padding:0px !important;
}

/* Indicator section stuffs*/
.indicator-container{
  height:40px;
  margin:10px 0px;
}