:root{
  --cp-dark-blue:#012742 ;
  --cp-section-blue: #55A4DE;
}
.ui-loader{
  visibility: hidden;
}
/*font Weights 300, 500 and 900, use the following classes for */
.light-font{
  font-family:'Roboto',sans-serif;
  font-weight: 300;
}
.medium-font{
  font-family:'Roboto',sans-serif;
  font-weight: 500;
}
.heavy-font{
  font-family:'Roboto',sans-serif;
  font-weight: 900;
}

/*Global CSS Classes*/
.help-icon{
  font-size: 0.8em;
  padding: 5px;
  cursor:pointer;
}
.section-header{
  background-color: #55A4DE;
  height:40px;
  margin: 10px 0px 10px;
  padding-top: 1px;
  color:#FFFFFF;
  font-size: 2em;
}
.form-control{
  cursor: pointer;
}
.noselect {
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.row{
  margin-bottom: 10px;
}

.field-label{
  display: inline-block;
  margin-top:5px;
}

/*CSS class for unit labels*/
.unit-label{
  font-size: 1em;
  margin-top:5px;
  padding: 0px 0px 0px 5px;
}


/*This removes the spinners on the number input fields*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*These CSS are for the title area*/
.header-container{
  margin-bottom: 10px
}
.main-title{
  background-color: #012742;
  color:white;
  font-size: 3.5em;
  height: 72px;
  text-align: center
}
.title-text{
  vertical-align: middle;
  padding-top: 0 px;
}
.header{
  height:130px;
}
.logo-container{
  height:inherit;
}
.cp-logo{
  background-image: url("../img/CPLogo.png");
  width:170px;
  height:130px;
  background-size: contain;
  margin:15px auto 0px ;
  background-repeat: no-repeat;
}
.help-container{
  display: flex;
  align-items: center;
  justify-content:center;
  height:130px;
}

/*Business info related CSS*/
.business-row{
  height:38px;
}
.business-input{
  height:28px;
  width:100%;
}

.label-title-column{
  border-bottom:solid 2px black;
  padding-left: 0px !important;

}
.label-title-column > p{
  margin: 5px 0px;
  font-size: 1em;
  display:inline-block;
}

.business-after{
  padding-top: 8px;
}

/*Effects related CSS*/

.effects-row{
  height: 55px;
  margin-bottom: 0px;
}
.control-column,.effects-column{
  height:36px;
  padding-right: 0px !important;
}
.control-btn{
  background-color: #55A4DE;
  width:49%;
  height:100%;
  display: inline-block;
  color:white;
  text-align: center;  
  cursor:pointer;
  cursor:hand;
  padding-top: 7px
}
.effect-input{
  margin-top: 4px;
}

.add-value-btn{
  border-radius: 5px 0px 0px 5px;

}
.minus-value-btn{
  border-radius: 0px 5px 5px 0px;
  float: right;
  user-select:none;
}
.add-value-btn:active, .minus-value-btn:active{
  background-color: #012742;
}
/*For the shading of the effects column*/
.background-shading{
  background: linear-gradient(to right, white 0%, white);
  background: -webkit-linear-gradient(to right, white 0%, white);
  width:100%;
  height:100%;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
}

.subtotal{
  border-top:2px solid #012742; 
  margin-top: 15px !important;
  padding-top: 5px;
}

.subtotal-field{
  text-align: center;
  font-size: 1.5em;
}

.subtotal-label{
  text-align: right;
  font-size: 1.5em;
}

.input-column{
  padding:0px !important;
}

/* Indicator section stuffs*/
.indicator-container{
  height:40px;
  margin:10px 0px;
}
.indicator-field{
  margin-top: 5px;
}



/*Modal CSS*/
  .modal-header{
    background-color: #012742;
    border-radius: 5px 5px 0px 0px;
  }

  .modal-title{
    color:white;
    font-size: 2em;
  }

  .help-section{
    padding: 0px 5px;
    margin:10px 0px;
  }

  .help-title{
    padding-top: 5px;
    color: #012742;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .help-description{
    margin-bottom: 10px;
    font-size: 1.3em;

  }

  .help-formula{
    margin-bottom: 5px;
    font-size:1.1em;
  }

  .close-help-btn{
    margin-top:15px;
    width:150px;
  }
/*for all mobile devices*/
@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 667px) 
and (orientation : portrait){
  .background-shading{
    padding-top:  12px;
  }
  .mobile-hide{
    display: none;
  }
  .indicator-container{
    height:20px;
  }
  .section-header{
    font-size: 1.7em !important;
    padding-top: 3px !important;
  }

  .business-row, .effects-row{
    margin-right: -10px !important;
    margin-bottom: 0px;
  }

  .indicator-field, .indicator-label{
    font-size:0.8em !important;
  }
  .label-title-column > p{
  font-size: 0.7em;
  }
  .unit-label{
    margin-top: 10px;
  }

}

/*Font Adjustments for iPhone 6 Sized screens*/
@media only screen 
and (min-device-width : 321px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
  .field-label, .unit-label, .form-control, .effect-value, .unit-label, .indicator-field, .business-after{
    font-size:0.7em !important;
  }
  .subtotal-field, .subtotal-label{
    font-size: 1em !important;
  }

}
/* For Older phones like iphone 5*/
@media only screen 
and (min-device-width : 150px) 
and (max-device-width : 320px) 
and (orientation : portrait) { 
  .field-label, .form-control, .effect-value, .unit-label, .business-after{
  font-size:0.6em !important;
  }
  .subtotal-field, .subtotal-label{
    font-size: 1em !important;
  }

}
