/*font Weights 300, 500 and 900, use the following classes for */
.light-font{
  font-family:'Roboto',sans-serif;
  font-weight: 300;
}
.medium-font{
  font-family:'Roboto',sans-serif;
  font-weight: 500;
}
.heavy-font{
  font-family:'Roboto',sans-serif;
  font-weight: 900;
}
/*Global CSS Classes*/
.section-header{
  background-color: #55A4DE;
  height:40px;
  margin: 10px 0px 15px;
  color:#FFFFFF;
  font-size: 3rem;
}

.field-label{
  display: inline-block;
  margin-top:5px;
}
/*CSS class for unit labels*/
.unit-label{
  font-size: 1.5rem;
  margin-top:5px;
  padding: 0px !important;
}
/*This removes the spinners on the number input fields*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*These CSS are for the title area*/
.header-container{
  margin-bottom: 10px
}
.main-title{
  background-color: #012742;
  color:white;
  font-size: 4rem;
  height: 72px;
  text-align: center
}
.title-text{
  vertical-align: middle;
  padding-top: 8px;
}
.header{
  height:130px;
}
.logo-container{
  height:inherit;
}
.cp-logo{
  background-image: url("CPLogo.png");
  width:170px;
  height:130px;
  background-size: contain;
  margin:15px auto 0px ;
  background-repeat: no-repeat;
}

/*Buisness info related CSS*/
.business-input{
  height:28px;
  width:100%;
}

.business-row{
  margin-bottom: 10px;
}